*{
    font-family: "proximanova-regular-webfont";
}

/*fuente*/
@font-face{
    font-family: proximanova-bold-webfont;
    src: url(../fonts/proxima-nova/proximanova-bold-webfont.ttf);
}
@font-face{
    font-family: proximanova-light-webfont;
    src: url(../fonts/proxima-nova/proximanova-light-webfont.ttf);
}
@font-face{
    font-family: proximanova-regitalic-webfont;
    src: url(../fonts/proxima-nova/proximanova-regitalic-webfont.ttf);
}
@font-face{
    font-family: proximanova-regular-webfont;
    src: url(../fonts/proxima-nova/proximanova-regular-webfont.ttf);
}


header{
    padding: 0.3% 5%;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #F6F6F6;

}
nav{
     list-style-type: none;
    

}
header nav li{
    
    
   color: #606060;
    float: right;
    padding-right: 5%;
    padding-top: 8%;
    font-size: 1.2em;

}

a{
    text-decoration: none;
    color: #606060;
}
section{
    width: 100%;
    height: 15%;
    background-color: white;
    padding: 5%;
}

footer{
    margin: auto;
    width: 100%;
    text-align: center;
    
}

footer li{

    color: #606060;
    display: inline-block;
    font-size: 1.3em;
    padding: 0% 0.5%;
    
   
}

.iconos img{
    padding-right: 1%;
    padding-top: 1%;
}

.privacy{
    font-size: 0.7em;
    padding-top: 1.5%;
    color: #979797;
}
.privacy a{
    color: #979797;
}