
header{
	padding: 0.5% 5%;
	margin: auto;
	position: fixed;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #E3E2DE;

}
nav{
	 list-style-type: none;
	 text-align: center;
}
.header li{
    font-family: 'proximanova-ligth-webfont';
    color: #404040;
    float: right;
    padding-right: 5%;
    padding-top: 6%;
    font-size: 1.3em;

}

a{
	text-decoration: none;
	 color: #404040;
}
section{
	width: 100%;
	height: 15%;
	background-color: white;
	padding: 5%;
}

footer{
	margin: auto;
	width: 100%;
	
}

.footer{

    color: #404040;
   	display: inline-block;
    font-size: 1.3em;
    padding: 0% 2%;
    
   
}