.persona{
	padding:63px 7px;
	}

.persona h1{
	font-size: 42px;
	color: #002366;
	font-family: "proximanova-light-webfont";
}

.persona h2{
	font-size: 28px;
	color: #179AD6;
	font-family: "proximanova-light-webfont";
	margin: 21px 0 56px 0;
}

.persona p{
	font-size: 18px;
	line-height: 28px;
	width: 60%;	
	margin: auto;
	text-align: justify;
	margin-bottom: 42px;
}

.persona img{
	width: 60%;
	margin-bottom: 56px;
}