*{
    font-family: "proximanova-regular-webfont";
}

@font-face{
    font-family: proximanova-bold-webfont;
    src: url(../fonts/proxima-nova/proximanova-bold-webfont.ttf);
}
@font-face{
    font-family: proximanova-light-webfont;
    src: url(../fonts/proxima-nova/proximanova-light-webfont.ttf);
}
@font-face{
    font-family: proximanova-regitalic-webfont;
    src: url(../fonts/proxima-nova/proximanova-regitalic-webfont.ttf);
}
@font-face{
    font-family: proximanova-regular-webfont;
    src: url(../fonts/proxima-nova/proximanova-regular-webfont.ttf);
}
.persona{
	padding:126px 7px 49px 7px;
	}

.persona h1{
	font-size: 42px;
	color: #002366;
	font-family: "proximanova-light-webfont";
}

.persona h2{
	font-size: 28px;
	color: #179AD6;
	font-family: "proximanova-light-webfont";
	margin: 21px 0 56px 0;
}

.persona p{
	font-size: 18px;
	line-height: 28px;
	width: 60%;	
	margin: auto;
	text-align: justify;
	margin-bottom: 42px;
}

.persona img{
	width: 60%;
	margin-bottom: 56px;
}

/***footer***/
header img{
	float: left;
}

header nav{
	float: right;
	padding: 21px 40px 15px 0;	
	color: #606060;
}

header{
	height: 90px;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 2;
	border-bottom: 2px solid #F6F6F6;
	background-color: white;
}

a{
	text-decoration: none;

}

header nav a{
	font-size: 20px;
	font-family: "proximanova-regular-webfont";
	padding: 0 28px;
	margin-right: 5px;
	color: #606060;	
}

header nav a:first-child{
	border-right: 2px solid #606060;
}

@media screen and (max-width: 640px) {
	
}